<h1>タスク一覧</h1>

<% if @tasks.any? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <td>id</td>
        <td>タスク</td>
        <td>ステータス</td>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td><%= link_to task.id, task %></td>
          <td><%= task.content %></td>
          <td><%= task.status %></td>
        </tr>
      <% end %>      
    </tbody>
  </table>
<% end %>
<div>
<%= paginate @tasks %>
</div>

<%= link_to '新規タスクを作成', new_task_path, class: 'btn btn-primary' %>